{% extends "base.html" %}
{% load static %}
{% block content %}

<button class="todoUpdate" id="updateBtn">수정</button>
<button class="todoDelete" id="deleteBtn">삭제</button>
<!--todo 리스트 출력될 컨테이너-->
<div class="todoDetail"></div>

<script>
//1-초기화
document.addEventListener("DOMContentLoaded",init);

//-2-init
function init(){
    //url에서 pk 추출
    const pk =getTodoId();//변수저장
    loadTodoIntoDetail(pk);//상세정보
    bindUpdateButton(pk);//수정이벤
    bindDeleteButton(pk);//삭제이벤

}
function getTodoId(){

    return window.location.pathname.split('/').filter(Boolean).pop();
}
function loadTodoIntoDetail(pk){

    axiosInstance
    .get(`/todo/api/retrieve/${pk}/`) //엔드포인트:  url주소 호출
    .then(res=>renderTodoDetail(res.data))
    .catch(err => console.error('로딩실패', err));
}
function renderTodoDetail(data){
    const container = document.querySelector(".todoDetail");
    container.innerHTML=`
        <div class=todo-item">
        <p>안녕하세요</p>
        <p><strong>Name:</strong> ${data.name}</p>
        <p><strong>Description:</strong> ${data.description}</p>
        <p><strong>Complete:</strong> ${data.complete}</p>
        <p><strong>Completed At:</strong> ${datetimeToString(data.completed_at)}</p>
        <p><strong>Experience Points:</strong> ${data.exp}</p>
        </div>
    `;
}
function bindUpdateButton(pk){
//->update로 링크보내기
    const btn=document.querySelector('.todoUpdate');
    if(!btn) return;
    btn.addEventListener('click',()=>{
        window.location.href=`/todo/update/${pk}/`;
    });
}
function bindDeleteButton(pk){
//삭제버튼 클릭하면 삭제를해라
    const btn=document.querySelector('.todoDelete');
    if(!btn) return;
    btn.addEventListener('click',()=>{
        if(!confirm('정말 해당 todo를 삭제하겠습니까??'))return;
        //삭제 요청 보내기
        axiosInstance
            .delete(`/todo/api/delete/${pk}/`)
            .then(()=>  window.location.href="/todo/list/") //false
            .catch(err=> alert('Todo 삭제에 실패했습니다.'));
    });

}
</script>

{% endblock %}