{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="todocontainer">
    {% for todo in todos %}
        <div class="toto-item">    
            <p>{{todo.name}}</p>
            <p>{{todo.description}}</p>
            <p>{{todo.complete}}</p>
            <p>{{todo.completed_at}}</p>
            <p>{{todo.exp}}</p>
            <hr>
        </div>
    {% empty %}
        <p>등록된 할일이 없습니다.</p>
    {% endfor %}
</div>
<button class="todoCreate" id="createBtn"> Todo 등록하기</button>

<script>
    // 문서가 로드되면 리스트 항목을 불러와라
    document.addEventListener("DOMContentLoaded", function(){
        console.log("list loading!!")
    });

    // 버튼을 클릭하면 서버에 접속해라
    document.getElementById("createBtn").addEventListener("click", () => {
        console.log("createBtn click!!")
    });

 


</script>  



{% endblock %}